.ui-dialog { font-size: 12px;}
.ui-dialog .ui-dialog-title { font-size: 16px; height: 18px; }
.ui-dialog .ui-button { width: 12px; height:12px; margin: -5px 0px 0px 0px;}
.ui-dialog .ui-dialog-titlebar { padding: 0px 1em 2px 1em; }

accordion {font-size: 14px!important; z-index:1999; }
accordion h3 {width: 60px; font-size: 14px!important;}
accordion > ul {width: 60px;}
accordion ul ul {width: 160px;}
accordion ul li {cursor:default!important; white-space:nowrap;}
accordion ul .icn3d-link, div .icn3d-link, accordion li input, accordion li label, button {cursor:pointer!important; } 

.icn3d-dl_sequence {background: white; padding-left:10px;}
.icn3d-highlightSeq {background-color: #FFFF00;}

// used to identify a residue when clicking a residue in sequence
.icn3d-residue {font-weight:regular;} 
.icn3d-residueNum {color: #00FF00; width:30px!important;}

.icn3d-dl_sequence span {display:inline-block; font-size:11px; width:10px;}

button, select, input { font-size: 10px; }

.icn3d-hidden {display: none;}
.icn3d-shown {display: block;}

.icn3d-seqTitle, .icn3d-seqTitle2, .icn3d-annoTitle {display:inline-block; font-size:11px; font-weight:bold; width:60px!important;}
.icn3d-seqLine {white-space:nowrap;}

.icn3d-commandTitle  {font-size: 12px; font-weight:bold; font-family: Verdana, Arial, Helvetica, sans-serif; color: #666666;}

.icn3d-middleIcon {opacity: 1.0}
.icn3d-endIcon {opacity: 0.2}

.icn3d-box {border-top: solid 1px #ccc; border-right: solid 1px #ccc; border-bottom: solid 1px #ccc; border-left: solid 1px #ccc; padding: 5px;}

